
<style>
    .disableddiv {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        opacity: 0.5;
        padding: 1px;
        background-color: #777
    }
</style>
<p-toast position="top-right"></p-toast>
<div *ngIf="SelectBoxEnabled">
    <h4 class="dpm-heading">Select Batch Number to see predictive chart</h4>
    <div class="card dpm-card w-100 p-3">
        <div class="row">
            <div class="col-md-4">
                <select class="form-select" [(ngModel)]="SelectedBatchNumber" class="form-control">
                    <option value="">Choose Batch Number</option>
                    <option *ngFor="let EL of TagList" [ngValue]="EL">{{EL}}</option>
                </select>
            </div>
            <div class="col-md-4 pl-0">
                <button class="btn btn-primary" (click)="BatchNumberSelect()">Done</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="SelectBoxEnabled">
<div class="card dpm-card w-100 p-3">
    <div id="chart2">
        <canvas id="Chart2"></canvas>
    </div>
</div>
</div>