<div id="mynetwork" #siteConfigNetwork></div>

<p-toast></p-toast>
<!-- 
<p-dialog header="Edit" [(visible)]="FunctionUpdate" 
[style]="{width: '50%',height:'200px'}">
  <p-button (click)="historicalData()" label="HistoricalData" ></p-button>
  <p-button (click)="graph()" label="Graph"></p-button>


<p-dialog header="HistoricalData" [(visible)]="HistoricalData" [modal]="true" [style]="{width: '70%',height:'200px'}"
    [draggable]="false" [resizable]="false" >
    <p class="p-m-0"> <div class="col-md-8 form-group">        
              <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
            </div> </p>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="HistoricalData=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
</p-dialog>
</p-dialog> -->



        







