<p-toast></p-toast>
<div class="card dpm-card w-100 p-3">
     <br>
     <h1>What we have understood about TD1?</h1>
     <br>
     <br>
     <p style="font-size:20px;color: black 2px solid;">Example of uni-variate parameter: </p>
     <p style="font-size:18px;">
        Here TD1 represents only one "primary variable". In real case, there are multiple primary and derived parameters. </p>
     <p style="font-size:20px;color: black 2px solid;">For simplicity, we have demonstrated “linear regression” modeling on uni variate, with following characteristics- </p>
     <p style="font-size:18px;">
        1) TD1 in present context is Compressor 1st stage discharge pressure. <br>
        2) SCADA transmitted sensor data @1 hr interval has been collected over past 3+ years. <br>
        3) Initial data cleansing removes input collected during standstill state. Next layer cleansing allocates upper & lower limits considering seasonality.  <br>
        4) Each machine is unique, and hence the diagnostics model varies, as guided by DPM specialists, and workshop with plant engineers. <br>
        <br>
        This example is part of real case study conducted at one of the renowned O&G companies. Data are real. And the example clearly explains the intricacies of developing a solution for any process machinery.</p>
</div>