<p-toast></p-toast>
<div class="card dpm-card w-100 p-3">
     <br>
     <h1>What we have understood about TD1?</h1>
     <br>
     <br>
     <h5>1. As per current condition of the machine last TD1 value till 22nd Jan 2020 is in range of 170 to 180. <br>
        2. From 23rd Jan 2020 to 3rd April 2022 we have predicted values which are in range of 170 to 200. <br>
        3. TD1 value is in min range of 160 to 170 in Feb, March and April. <br>
        4. TD1 value is in max range of 170 to 190 in Feb, March and April. </h5>
</div>