
<table>
    <thead>
        <tr>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">#</th>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">A</th>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">B</th>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">C</th>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">D</th>
            <th rowspan="2" class="xl161" width="143" style="width:107pt">E</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="xl88" style="border-top:none">5</td>
            <td class="xl94" id="btn" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94"  style="border: none; width: 139px; height: 65px;"  value="5A">5A</button>
                <span id="hide">Information here.</span>
            </td>
            <td class="xl89"  width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl89" style="border: none; width: 139px; height: 65px;"  value="5B">5B</button>
            </td>
            <td class="xl90" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl90" style="border: none; width: 139px; height: 65px;"  value="5c">5C</button>
            </td>
            <td class="xl90" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl90" style="border: none; width: 139px; height: 65px;"  value="5D">5D</button>
            </td>
            <td class="xl90" width="143" style="border-top:none;border-left:none;width:107pt">
                <Button class="xl90" style="border: none; width: 139px; height: 65px;"  value="5E">5E</Button>
            </td>
           </tr>
        <tr>
            <td class="xl88" style="border-top:none">4</td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <Button class="xl94" style="border: none; width: 139px; height: 65px;"  value="4A">4A</Button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="4B">4B</button>
            </td>
            <td class="xl89" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl89" style="border: none; width: 139px; height: 65px;"  value="4C">4C</button>
            </td>
            <td class="xl90" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl90" style="border: none; width: 139px; height: 65px;"  value="4D">4D</button>
            </td>
            <td class="xl90" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl90" style="border: none; width: 139px; height: 65px;"  value="4E">4E</button>
            </td>
            </tr>
        <tr>
            <td class="xl88" style="border-top:none">3</td>
            <td class="xl95" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl95" style="border: none; width: 139px; height: 65px;"  value="3A">3A</button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="3B">3B</button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="3C">3C</button>
            </td>
            <td class="xl89" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl89" style="border: none; width: 139px; height: 65px;"  value="3D">3D</button>
            </td>
            <td class="xl89" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl89" style="border: none; width: 139px; height: 65px;"  value="3E">3E</button>
            </td>
           </tr>
        <tr>
            <td class="xl88" style="border-top:none">2</td>
            <td class="xl95" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl95" style="border: none; width: 139px; height: 65px;"  value="2A">2A</button>
            </td>
            <td class="xl95" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl95" style="border: none; width: 139px; height: 65px;"  value="2B">2B</button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="2C">2C</button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="2D">2D</button>
            </td>
            <td class="xl94" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl94" style="border: none; width: 139px; height: 65px;"  value="2E">2E</button>
            </td>
            </tr>
        <tr>
            <td class="xl88" style="border-top:none">1</td>
            <td><button class="xl103" style="border: none; width: 139px; height: 65px;"  value="1A">1A</button></td>
            <td class="xl103" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl103" style="border: none; width: 139px; height: 65px;"  value="1B">1B</button>
            </td>
            <td class="xl103" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl103" style="border: none; width: 139px; height: 65px;"  value="1C">1C</button>
            </td>
            <td class="xl103" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl103" style="border: none; width: 139px; height: 65px;"  value="1D">1D</button>
            </td>
            <td class="xl104" width="143" style="border-top:none;border-left:none;width:107pt">
                <button class="xl104" style="border: none; width: 139px; height: 65px;"    value="1E">1E</button>
            </td>
            </tr>
    </tbody>
  </table>
  