<div class="container" id="content" #content>
    <div>
        <h4 style="text-align:center;"><b>Integrity Level (SIL) Assessment and Verification Report</b></h4>
    </div>
    <div>
        <h6>Company:&nbsp;From Server Side</h6>
    </div>
    <div>
        <h6>Plant:&nbsp;From Server Side</h6>
    </div>
    <br>
    <div>
        <h6>PREFACE</h6>
    </div>
    <br>
    <div>
        <p style="text-align:left;">
            With the adoption of IEC 61511 and ANSI/ISA-84.00.01-2004 standards,
            Company has made a concerted effort to provide a standardized approach
            to the design and implementation of Safety Instrumented Systems.
            This report describes the methodology used during the
            Safety Integrity Level (SIL) Assessment, Verification of existing Plant, and findings.
            SIL Assessment was accomplished through the use of Hazard Identification;
            Likelihood, Consequence and Risk Analysis.
            Each of the Plant’s Safety Instrumented Function (SIF)
            was identified during SIL Assessment, making use of both layer of
            protection analysis (LOPA) and consequence analysis. A target SIL
            was determined for each SIF through quantitative and qualitative analysis.
            SIL Verification was accomplished using Fault Tree Analysis in order to
            determine the average probability of failure on demand (PFDAVG) of each SIF.
            This analysis was a jointly carried out along with the Company Safety,
            Control & Instrument Maintenance, and Process teams.
        </p>
    </div>
    <br>
    <div>
        <h6>COMPANY BACKGROUND</h6>
    </div>
    <br>
    <div>
        <h6>BACKGROUND</h6>
        <p>From Server Side</p>
    </div>
    <div>
        The following aids were used in SIL Assessment and SIL Verification:
        <ol>
            <li>Software tools</li>
            <li>Global work processes</li>
            <li>Global Engineering Standards and Procedures</li>
            <li>Training materials</li>
            <li>SIL application library</li>
            <li>Standard templates for SIL documentation</li>
        </ol>
        <p>
            DPM APM software have been deployed for Fault Tree Analysis and Layer of Protection Analysis
            have been developed for quantifying risks, performing frequency analysis, and for
            verification of safety instrumented system performance.
            Failure rate data and frequency data for use by these programs was
            obtained through industry generic failure rate data books, 3rd party consultants,
            licensed databases, supplier safety manuals, supplier failure mode effects and
            diagnostic analysis reports, and internal process plant operating experience.
        </p>
        <p>
            Basic engineering policies (BEP) for use in the design and implementation of safety
            instrumented systems were developed in order to establish and communicate the company’s
            high level policy and strategy for the transition to the new industry standard.
            The BEP provided guidance for more specific and detail oriented engineering procedures
            and standards which were thendeveloped.
        </p>
        <p>
            Training materials were prepared using both internal and external Process Safety,
            Process Control, and Instrumentation subject matter experts.
            These materials covered various aspects of process safety analysis
            and were developed with specific Company terminology and work processes in mind.
            This training was rolled out to the company in a systematic approach.
        </p>
        <p>
            An applications library was developed that contains typical instrumented protection
            systems designs, as well as fundamental information such as FMEA reports, manufacturer
            safety manuals, etc.
        </p>
        <p>
            After completion, SIL assessments were added to the library for future use to support
            management of change or to serve as a starting point for similar applications.
            This library has the benefit of helping to reduce engineering time and to facilitate
            consistent implementations across multiple business units. Standard templates for SIL
            assessment and verification reports were developed. These reports provide a consistent
            format that aids the ease of use and understanding of thematerial.
        </p>
    </div>
    <br>
    <div>
        <h6>REPORT SPECIFICS</h6>
    </div>
    <div>
        <p>
            This case study describes the work process followed in the SIL Assessment and
            Verification of previously designed safety instrumented systems within the Company.
            The detailed analysis is presented in this report.
        </p>
    </div>
    <div>
        <h6>Data Gathering</h6>
    </div>
    <div>
        <p>
            Hazard identification and consequence analysis had been recently performed by Company.
            Existing instrumented protections were previously designed based on the original hazard
            and consequence analysis. This informationwas collected and used in the SIL Assessment
            and Verification.
        </p>
        A summary of process unit for evaluation is listed:
        <ol>
            <li>From Server Side</li>
            <li>From Server Side</li>
            <li>From Server Side</li>
            <li>From Server Side</li>
            <li>From Server Side</li>
            <li>From Server Side</li>
        </ol>
        <p>
            The steps outlined in the Safety Lifecycle (Figure 1) were used as the basis for the evaluation.
            For this case study, the existing Process Hazard Analysis (PHA) and risk assessment were
            examined and updated using layer of protection analysis. A SIL target was defined for each
            SIF by back-calculating the required risk reduction needed to be achieved for that SIF in
            order to satisfy the Company’s Corporate risk target. Each existing SIF was then evaluated
            to determine what performance could be achieved given its design, architecture, configuration
            and mechanical integrity program. Calculated performance was then compared to the SIL target
            (using maximum allowable PFDAVG) to confirm that the safety instrumented function was adequate,
            coupled with the other layers of protection to meet our corporate risktarget.
        </p>
    </div>
    <div>
        <img src="dist/DPM/assets/img/Safety_LifeCycle.PNG" style="margin-left: 75px;" class="style">
        <div style="text-align: center;">
            Figure 1: ISA 84.01 Safety Lifecycle
        </div>
    </div>
    <div>
        <br>
        <h6>SIL Assessment</h6>
    </div>
    <div>
        <p>The goal of the SIL Assessment was to identify all Safety Instrumented Functions (SIF) and
            to determine a required performance level for each SIF. Company classifiesrisks into
            importance levels (L1 through L3). Only L3S safety instrumented functions were evaluated
            during this case study. It is Company’s interpretation that the L3S classification
            corresponds to a SIF as defined in IEC 61511. Table 1 describes the importance level
            classifications used within Company.
        </p>
    </div>
    <br>
    <div>
        <h6 style="text-align: center;">Table 1: Importance Level Classification</h6>
    </div>
    <div>
        <img src="dist/DPM/assets/img/Capture.PNG" style="margin-left: 95px;width: 800px;">
    </div>
    <div>
        <p>
            At Company, the importance level helps classify the level of security,
            administrative controls and mechanical integrity requirements.
            The importance level also provides guidance and requirements for the level
            of segregation and independence required between the safety instrumented system
            (SIS) and basic process control system (BPCS).
        </p>
        <p>
            Process hazard analysis information that was prepared was reviewed to identify
            instrumented safeguards. Company typically employs the HAZOP methodology for
            process hazard identification analysis. The nodes of the referred PHA HAZOP
            worksheet that potentially can lead to safety consequences is listed in Table 2.
            The PHA report details the possible hazards, the consequence of the hazard, and
            any safeguards that may exist. Note the safeguards may include equipment and process
            design, mechanical protection systems, instrumented protection systems and administrative
            controls.
        </p>
    </div>
    <br>
    <div>
        <h6 style="text-align: center;">Table 2: Safety Consequence Nodes of Process Hazards</h6>
    </div>
    <div>
        <h6 style="text-align: center;">Analysis HAZOP Worksheet</h6>
    </div>
    <div>
        <img src="dist/DPM/assets/img/Capture2.PNG" style="margin-left: 95px;width: 800px;">
    </div>
    <br>
    <div>
        <p>
            DPM AI Analytics’ developed layer of protection analysis (DPMLoPA) and
            fault tree analysis (DPMTree) software programs were used during the SIL
            Assessment and Verification work process. DPMTree was used to determine
            initiating cause frequencies for the layer of protection analysis when needed
            and the PFDAVG for identified SIF’s. Layer of protection analysis accounts for
            multiple layers of independent protection that are typically part of a processdesign.
        </p>
        <p>
            Typical layers of protection considered are, and used as applicable:
        </p>
        <ol>
            <li>Basic Process Control System (BPCS) – Regulatorycontrol
            </li>
            <li>Alarms that provide enough time for knowledgeable
                operators to recover from initial upsets prior to the hazardousevent
            </li>
            <li>
                Safety Instrumented Functions
            </li>
            <li>
                Inherent pressure containingstrength
            </li>
            <li>
                Pressure ReliefDevices
            </li>
            <li>
                Secondarycontainment
            </li>
            <li>
                Barricades
            </li>
            <li>
                Administrative controls
            </li>
            <li>
                Exposureprobability
            </li>
        </ol>
    </div>
    <div>
        <p>
            The LOPA results are reported in a table format from the DPMLoPA software.
            Figures 2 and 3 illustrate an example (developed for training purposes) that
            demonstrates the execution and methodology used during the SIL Assessment portion
            of the case study.
        </p>
        <p>
            <b>Please note that the analysis data references and risk targets are both auditable and
                defensible by DPM AI Analytics, the company performing the analysis.</b>
        </p>
        <div>
            <img src="dist/DPM/assets/img/Capture3.PNG" style="margin-left: 95px;width: 800px;">
        </div>
    </div>
    <br>
    <div id="Book1_9234" align=center x:publishsource="Excel">

        <table border=0 cellpadding=0 cellspacing=0 width=1130 style='border-collapse:
         collapse;table-layout:fixed;width:849pt'>
            <col width=118 style='mso-width-source:userset;mso-width-alt:4315;width:89pt'>
            <col width=88 style='mso-width-source:userset;mso-width-alt:3218;width:66pt'>
            <col width=84 style='mso-width-source:userset;mso-width-alt:3072;width:63pt'>
            <col width=226 style='mso-width-source:userset;mso-width-alt:8265;width:170pt'>
            <col width=189 style='mso-width-source:userset;mso-width-alt:6912;width:142pt'>
            <col width=66 style='mso-width-source:userset;mso-width-alt:2413;width:50pt'>
            <col width=59 style='mso-width-source:userset;mso-width-alt:2157;width:44pt'>
            <col width=68 style='mso-width-source:userset;mso-width-alt:2486;width:51pt'>
            <col width=79 style='mso-width-source:userset;mso-width-alt:2889;width:59pt'>
            <col width=85 style='mso-width-source:userset;mso-width-alt:3108;width:64pt'>
            <col width=68 style='mso-width-source:userset;mso-width-alt:2486;width:51pt'>
            <tr height=21 style='mso-height-source:userset;height:15.75pt'>
                <td colspan=4 height=21 class=xl849234 width=516 style='border-right:1.0pt solid black;
          height:15.75pt;width:388pt'>Layer of Protection Analysis Report - Generated
                    09-Mar-2007 16:44:30</td>
                <td class=xl659234 width=189 style='width:142pt'>&nbsp;</td>
                <td class=xl659234 width=66 style='width:50pt'>&nbsp;</td>
                <td class=xl659234 width=59 style='width:44pt'>&nbsp;</td>
                <td class=xl659234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl659234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl659234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl659234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=22 style='mso-height-source:userset;height:16.5pt;mso-yfti-irow:
          1'>
                <td height=22 class=xl669234 width=118 style='height:16.5pt;width:89pt'>Scenario:</td>
                <td colspan=4 class=xl679234 width=587 style='border-right:1.0pt solid black;
          border-left:none;width:441pt'>Pressure vessel rupture due to over
                    pressure(SIF Credit per Verification)</td>
                <td class=xl689234 width=66 style='width:50pt'>&nbsp;</td>
                <td class=xl689234 width=59 style='width:44pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl689234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl689234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td rowspan=2 height=41 class=xl749234 width=118 style='border-bottom:1.0pt solid black;
          height:30.75pt;border-top:none;width:89pt'>Calculation Complete</td>
                <td rowspan=2 class=xl749234 width=88 style='border-bottom:1.0pt solid black;
          border-top:none;width:66pt'>References Incomplete</td>
                <td rowspan=2 class=xl699234 width=84 style='border-bottom:1.0pt solid black;
          border-top:none;width:63pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=226 style='border-bottom:1.0pt solid black;
          border-top:none;width:170pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=189 style='border-bottom:1.0pt solid black;
          border-top:none;width:142pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=66 style='border-bottom:1.0pt solid black;
          border-top:none;width:50pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=59 style='border-bottom:1.0pt solid black;
          border-top:none;width:44pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=79 style='border-bottom:1.0pt solid black;
          border-top:none;width:59pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=85 style='border-bottom:1.0pt solid black;
          border-top:none;width:64pt'>&nbsp;</td>
                <td rowspan=2 class=xl699234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>&nbsp;</td>
            </tr>
            <tr height=21 style='height:15.75pt'>
            </tr>
            <tr height=21 style='height:15.75pt;mso-yfti-irow:3'>
                <td colspan=7 height=21 class=xl679234 width=830 style='border-right:1.0pt solid black;
          height:15.75pt;width:624pt'>Target Frequency: 5.0E-06 Calculated Frequency:
                    4.7111E-06 Required Performance: Target Achieved</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl689234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl689234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=21 style='height:15.75pt;mso-yfti-irow:4'>
                <td height=21 class=xl719234 width=118 style='height:15.75pt;width:89pt'>&nbsp;</td>
                <td class=xl689234 width=88 style='width:66pt'>&nbsp;</td>
                <td class=xl689234 width=84 style='width:63pt'>&nbsp;</td>
                <td class=xl689234 width=226 style='width:170pt'>&nbsp;</td>
                <td class=xl689234 width=189 style='width:142pt'>&nbsp;</td>
                <td class=xl689234 width=66 style='width:50pt'>&nbsp;</td>
                <td class=xl689234 width=59 style='width:44pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl689234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl689234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=20 style='height:15.0pt;mso-yfti-irow:5'>
                <td rowspan=2 height=106 class=xl729234 width=118 style='border-bottom:1.0pt solid black;
          height:79.5pt;border-top:none;width:89pt'>Intermediate Event Frequency</td>
                <td rowspan=2 class=xl729234 width=88 style='border-bottom:1.0pt solid black;
          border-top:none;width:66pt'>Initiating Cause</td>
                <td rowspan=2 class=xl729234 width=84 style='border-bottom:1.0pt solid black;
          border-top:none;width:63pt'>Initiation Frequency (1/yr)</td>
                <td rowspan=2 class=xl749234 width=226 style='border-bottom:1.0pt solid black;
          border-top:none;width:170pt'>Alarm Protection Layer Fails to protect<br>
                    <br>
                    <br>
                </td>
                <td rowspan=2 class=xl729234 width=189 style='border-bottom:1.0pt solid black;
          border-top:none;width:142pt'>PIC vent control fail to vent</td>
                <td rowspan=2 class=xl749234 width=66 style='border-bottom:1.0pt solid black;
          border-top:none;width:50pt'>1oo2 HP SIF fail to function<br>
                </td>
                <td rowspan=2 class=xl749234 width=59 style='border-bottom:1.0pt solid black;
          border-top:none;width:44pt'>1oo1 HP SIF fail to function</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>Spring Operated Relief Valve Fails to open</td>
                <td rowspan=2 class=xl729234 width=79 style='border-bottom:1.0pt solid black;
          border-top:none;width:59pt'>Probability Vessel Ruptures</td>
                <td rowspan=2 class=xl729234 width=85 style='border-bottom:1.0pt solid black;
          border-top:none;width:64pt'>Prob Person Present</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>Prob of Fatality if Person Present<br>
                </td>
            </tr>
            <tr height=86 style='mso-height-source:userset;height:64.5pt'>
            </tr>
            <tr height=20 style='height:15.0pt;mso-yfti-irow:6'>
                <td rowspan=2 height=70 class=xl739234 width=118 style='border-bottom:1.0pt solid black;
          height:52.5pt;border-top:none;width:89pt'>4.19E-06</td>
                <td rowspan=2 class=xl749234 width=88 style='border-bottom:1.0pt solid black;
          border-top:none;width:66pt'>Pressure letdown PIC (loop) fails dangerous</td>
                <td rowspan=2 class=xl749234 width=84 style='border-bottom:1.0pt solid black;
          border-top:none;width:63pt'>0.1</td>
                <td rowspan=2 class=xl749234 width=226 style='border-bottom:1.0pt solid black;
          border-top:none;width:170pt'>1</td>
                <td rowspan=2 class=xl749234 width=189 style='border-bottom:1.0pt solid black;
          border-top:none;width:142pt'>0.1</td>
                <td rowspan=2 class=xl749234 width=66 style='border-bottom:1.0pt solid black;
          border-top:none;width:50pt'>0.0257</td>
                <td rowspan=2 class=xl749234 width=59 style='border-bottom:1.0pt solid black;
          border-top:none;width:44pt'>1</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>0.0163</td>
                <td rowspan=2 class=xl749234 width=79 style='border-bottom:1.0pt solid black;
          border-top:none;width:59pt'>1</td>
                <td rowspan=2 class=xl749234 width=85 style='border-bottom:1.0pt solid black;
          border-top:none;width:64pt'>1</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>1</td>
            </tr>
            <tr height=50 style='mso-height-source:userset;height:37.5pt'>
            </tr>
            <tr height=20 style='height:15.0pt;mso-yfti-irow:7'>
                <td rowspan=2 height=73 class=xl739234 width=118 style='border-bottom:1.0pt solid black;
          height:54.75pt;border-top:none;width:89pt'>2.09E-07</td>
                <td rowspan=2 class=xl749234 width=88 style='border-bottom:1.0pt solid black;
          border-top:none;width:66pt'>Common Mode BPCS dangerous output<br>
                </td>
                <td rowspan=2 class=xl779234 width=84 style='border-bottom:1.0pt solid black;
          border-top:none;width:63pt'>5.00E-04</td>
                <td rowspan=2 class=xl749234 width=226 style='border-bottom:1.0pt solid black;
          border-top:none;width:170pt'>1</td>
                <td rowspan=2 class=xl749234 width=189 style='border-bottom:1.0pt solid black;
          border-top:none;width:142pt'>1</td>
                <td rowspan=2 class=xl749234 width=66 style='border-bottom:1.0pt solid black;
          border-top:none;width:50pt'>0.0257</td>
                <td rowspan=2 class=xl749234 width=59 style='border-bottom:1.0pt solid black;
          border-top:none;width:44pt'>1</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>0.0163</td>
                <td rowspan=2 class=xl749234 width=79 style='border-bottom:1.0pt solid black;
          border-top:none;width:59pt'>1</td>
                <td rowspan=2 class=xl749234 width=85 style='border-bottom:1.0pt solid black;
          border-top:none;width:64pt'>1</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>1</td>
            </tr>
            <tr height=53 style='mso-height-source:userset;height:39.75pt'>
            </tr>
            <tr height=20 style='height:15.0pt;mso-yfti-irow:8'>
                <td rowspan=2 height=73 class=xl739234 width=118 style='border-bottom:1.0pt solid black;
          height:54.75pt;border-top:none;width:89pt'>3.13E-07</td>
                <td rowspan=2 class=xl749234 width=88 style='border-bottom:1.0pt solid black;
          border-top:none;width:66pt'>Control valve spuriosusly fails open<br>
                    <br>
                    <br>
                    <br>
                </td>
                <td rowspan=2 class=xl779234 width=84 style='border-bottom:1.0pt solid black;
          border-top:none;width:63pt'>5.90E-03</td>
                <td rowspan=2 class=xl749234 width=226 style='border-bottom:1.0pt solid black;
          border-top:none;width:170pt'>1</td>
                <td rowspan=2 class=xl749234 width=189 style='border-bottom:1.0pt solid black;
          border-top:none;width:142pt'>0.1</td>
                <td rowspan=2 class=xl749234 width=66 style='border-bottom:1.0pt solid black;
          border-top:none;width:50pt'>1</td>
                <td rowspan=2 class=xl749234 width=59 style='border-bottom:1.0pt solid black;
          border-top:none;width:44pt'>0.0325</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>0.0163</td>
                <td rowspan=2 class=xl749234 width=79 style='border-bottom:1.0pt solid black;
          border-top:none;width:59pt'>1</td>
                <td rowspan=2 class=xl749234 width=85 style='border-bottom:1.0pt solid black;
          border-top:none;width:64pt'>1</td>
                <td rowspan=2 class=xl749234 width=68 style='border-bottom:1.0pt solid black;
          border-top:none;width:51pt'>1</td>
            </tr>
            <tr height=53 style='mso-height-source:userset;height:39.75pt'>
            </tr>
            <tr height=21 style='height:15.75pt;mso-yfti-irow:9'>
                <td height=21 class=xl719234 width=118 style='height:15.75pt;width:89pt'>&nbsp;</td>
                <td class=xl689234 width=88 style='width:66pt'>&nbsp;</td>
                <td class=xl689234 width=84 style='width:63pt'>&nbsp;</td>
                <td class=xl689234 width=226 style='width:170pt'>&nbsp;</td>
                <td class=xl689234 width=189 style='width:142pt'>&nbsp;</td>
                <td class=xl689234 width=66 style='width:50pt'>&nbsp;</td>
                <td class=xl689234 width=59 style='width:44pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl689234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl689234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=69 style='height:51.75pt;mso-yfti-irow:10;mso-yfti-lastrow:yes'>
                <td height=69 class=xl799234 width=118 style='height:51.75pt;width:89pt'>Date:
                    09-Mar-2</td>
                <td class=xl809234 width=88 style='width:66pt'>007 16:44:07 Analyst:DA</td>
                <td class=xl819234 width=84 style='width:63pt'>YJDVersion:</td>
                <td class=xl709234 width=226 style='width:170pt'>2.1.1 - 2.0.0</td>
                <td class=xl689234 width=189 style='width:142pt'>&nbsp;</td>
                <td class=xl689234 width=66 style='width:50pt'>&nbsp;</td>
                <td class=xl689234 width=59 style='width:44pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
                <td class=xl689234 width=79 style='width:59pt'>&nbsp;</td>
                <td class=xl689234 width=85 style='width:64pt'>&nbsp;</td>
                <td class=xl689234 width=68 style='width:51pt'>&nbsp;</td>
            </tr>
            <tr height=0 style='display:none'>
                <td width=118 style='width:89pt'></td>
                <td width=88 style='width:66pt'></td>
                <td width=84 style='width:63pt'></td>
                <td width=226 style='width:170pt'></td>
                <td width=189 style='width:142pt'></td>
                <td width=66 style='width:50pt'></td>
                <td width=59 style='width:44pt'></td>
                <td width=68 style='width:51pt'></td>
                <td width=79 style='width:59pt'></td>
                <td width=85 style='width:64pt'></td>
                <td width=68 style='width:51pt'></td>
            </tr>
        </table>

    </div>
    <p style="text-align: center;">Figure 3: LOPA Report Worksheet (Partial shown)</p>
    <br>
    <div>
        <p>Figure 3 Notes:</p>
        <ol>
            <li>
                This analysis assumes that the control utilize totally independent input and outputcards.
            </li>
            <li>
                No credit for alarm layer of protection due to lack of operator responsetime.
            </li>
            <li>
                No credit for SIS protection taken during this stage ofanalysis.
            </li>
        </ol>
    </div>
    <div>
        <p>
            The LOPA results detail the initiating causes and frequency of each event that
            was evaluated. All layers of protection receiving credit are listed with its
            respective probability of failure. The overall event likelihood that the consequence
            will happen is the sum of the individual intermediate event likelihoods.
            This can be calculated as follows:
        </p>
        <p>From Server Side</p>
        <p>
            The performance level or maximum allowable PFDAVG required for the SIS is determined by
            dividing the Target Frequency by the Overall Event Likelihood.
        </p>
        <p>
            In this present case, an additional From Server Side, but we perform our SIL verification to
            ensure that the actual “as designed and maintained SIF” does not exceed this value,
            i.e. the SIF PFDAVG must be less than or equal to the required maximum allowable PFDAVG.
        </p>
        <p>
            The assessment results are summarized in a SIL Assessment Report.
            This report included the following information:
        </p>
        <ol>
            <li>
                Executive summary of the SIL ratings (maximum allowable PFDAVG) required to meet overall company
                targets.
            </li>
            <li>
                System description, hazards andsafeguards.
            </li>
            <li>
                Reference designdocuments.
            </li>
            <li>
                APLoPAResults.
            </li>
            <li>
                APTree Results (ifapplicable).
            </li>
            <li>
                Failure rate data with references used inanalysis.
            </li>
        </ol>

    </div>
    <div>
        <h6>CONCLUSION</h6>
        <p>
            Company has endorsed implementation of a standardized approach to perform SIL Assessments
            and Verifications when necessary. This risk-based approach included development of training
            materials and software tools customized to Company’s internal work process. An application
            library of commonly used instrumented protection schemes allows for pre-evaluated and consistent
            designs across multiple business areas. This approach allows for a cost effective and timely
            design of safety instrumented protections for business.
        </p>
    </div>

    <div>
        <h6>REFERENCES</h6>
        <ol>
            <li>IEC 61511 "Functional safety - Safety instrumented systems for the process industry sector".</li>
            <li>ANSI/ISA-84.00.01-2004 Parts 1-3 (IEC 61511 Mod) "Functional Safety: Safety Instrumented Systems for the
                Process IndustrySector".</li>
            <li>ANSI/ISA-84.01-1996: Application of Safety Instrumented Systems for theProcess Industry.</li>
            <li>CCPSGuidelineBook,LayerofProtectionAnalysis–SimplifiedProcessRisk Assessment, New York, New York,2001.
            </li>
            <li>ISA TR84.00.04 Part 1, Guidelines for the Implementation ofANSI/ISA- 84.00.01-2004 (IEC 61511 Mod),2005.
            </li>
        </ol>
    </div>
</div>