<div>
    <h2 style="text-align: center;">Heat Exchanger 3D Model
    <a href="#/Home/LandingPage"><button class="btn btn-dark" style="float: right;">Go to dashboard</button></a>
    </h2>
    <!-- <iframe title="Predictive_Dashboard - Dashboard" width="1100" height="580" 
        src="https://app.powerbi.com/view?r=eyJrIjoiM2I4ZjdjYTktODUwMi00YzRhLThkNWMtMjM3OGQ1MDg2YTk3IiwidCI6IjY5ZGZjYTY2LTgxNjItNDA3MS1iZmNjLWFlNDU4Zjk1OWJlMCJ9" frameborder="0" allowFullScreen="true"></iframe> -->
        <iframe width="1150" height="600"
        src="https://unity3dmodel.dpmaianalytics.com/" frameborder="0" allowFullScreen="true"></iframe> 
  </div>
  
