<!-- <div class="card dpm-card w-100 p-3">
    <h1 style="text-align: center;">APM</h1><br>
    
    <p style="font-size:160%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Asset Performance Management optimises asset productivity, availability, reliability, efficiency, safety,  sustainability, cost of ownership, risk optimization, and environmental impact. It uses IIoT solutions with effective  utilization of asset data, from which strategies can be created, executed,  monitored and optimised, and current and future asset performance is understood and  predicted. Increasingly, APM blends existing and mature technologies with emerging  digitally enabled technologies and equipment.
    </p>
    <br>
    <img src="dist/DPM/assets/img/APM.PNG" class="image" alt="" />
</div> -->
<div class="panel left-panel">
<img src="dist/DPM/assets/img/DPM_LOGO.png" class="image" alt="" />
</div>