.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
} 
  #divID table thead tr th, 
    #divID td {
        border: 1px solid #0c0c0c;
  }
  #divID table tbody tr td:nth-child(1)
 {
   background-color: white;
      border: 0px;
      border-left: 1px solid;
}


  
