#mynetwork {
    width: 1200px;
    height: 350px;
    border: 1px solid lightgray;
    background-color: #fff;
  }
  p {
    margin: 0;
}
.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-style-class{
  width:70%;
  height: 80%;
}

canvas{
  background-color: #fff;
}

  
        