<p-toast></p-toast>
<br>
<div *ngFor="let temp of plant">
<h3> Plant Name : {{temp.PlantName}}</h3>
<h3> Plant Location : {{temp.Location}}</h3>
</div>
<div id="mynetwork" #siteConfigNetwork>
</div>
<p-dialog header="Edit" [(visible)]="FunctionUpdate" [style]="{width: '40%',height:'150px'}">
  <p-button (click)="historicalData()" label="HistoricalData"></p-button>
  <p-button (click)="fmea()" label="RCM"></p-button>
  <p-button (click)="rcm()" label="VIEW"></p-button>
  <!-- <p-button (click)="fca()" label="FMEA"></p-button> -->


  <p-dialog header="HistoricalData" [(visible)]="HistoricalData" [modal]="true" [style]="{width: '70%',height:'200px'}"
    [draggable]="false" [resizable]="false">
    <!-- <p class="p-m-0"> -->
    <div class="col-md-8 form-group">
      <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file"
        accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="HistoricalData=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog header="RCM" [(visible)]="VIEW" [modal]="true" 
   [style]="{'max-height':'400px','overflow':'auto'}">
  <p-table [value]="rcmList" styleClass="p-datatable-gridlines" styleClass="myTable" responsiveLayout="scroll">
    <ng-template pTemplate="body" let-rcmList>
   
          <h1 class="font-weight-normal h6"><small>{{rcmList.MachineType}}</small>
            <span class="d-block font-weight-normal h5 mt-2">{{rcmList.EquipmentType}}
              <span  class="badge badge-info ml-2"><small><i
                class="pi pi-tag mr-1"></i></small>RCM Id.{{rcmList.RCMId}}</span>
                <span class="badge-danger badge ml-2 mr-2"><small><i class="pi pi-chart-line"></i></small> Equipment CriticalityType: {{rcmList.EquipmentCriticalityType}}</span>
                <span  class="badge badge-warning"><i
                  class="pi pi-star-o small mr-1"></i>Tag Number: {{rcmList.TagNumber}}</span>
              </span>
            </h1>
           
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="VIEW=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
</p-dialog>