<p-toast></p-toast>
<div class="card dpm-card w-100 p-3">
    <div>
        <br>
        <h2>TD1 Constraints as defined by the Maintenance Engineer is as follows :</h2>
        <br>
        <table class="table table-bordered" style="border-bottom: 1px solid; width: 70%;">
            <thead style="text-align: center;">
                <tr>
                    <th style="width:40%">Constraints</th>
                    <th style="width:30%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Value can not be less than :- </td>
                    <td style="text-align: center;">0</td>
                </tr>
                <tr>
                    <td>Overall outlier is from :- </td>
                    <td style="text-align: center;">151 to 216</td>
                </tr>
                <tr>
                    <td>Optimal working of the value :- </td>
                    <td style="text-align: center;">170 to 200</td>
                </tr>
                <tr>
                    <td>Value cannot contain chracters</td>
                    <td style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>