#divID table, 
    #divID td {
      background-color: white;
        border: 1px solid #0c0c0c;
        padding: 0%;
  }
  #divID table thead tr th{
    background-color: white;
    border: 1px solid #0c0c0c;
  }