<div class="card dpm-card w-100 p-3">
    <br>
    <h3 style="text-align: center;">Data Explanation</h3>
    <br>
    <div class="row" style="text-align: center;">
        <div class="col-6" id="divID">
            <table class="table table-bordered" style="border-bottom: 1px solid;">
                <thead>
                    <tr>
                    <th>Month Year</th>
                    <th>TD1 Lower Limit</th>
                    <th>Difference LL</th>
                    <th>TD1 Upper Limit</th>
                    <th>Difference UL</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of allData;let i as index;">
                      <td>{{a.MonthYear}}</td>
                      <td>{{a.Td1LowerLimit}}</td>
                      <td id="i" [style.background-color]="a.Difflowerlimit >= 9 ? 'yellow' : 'white' ">
                        <span (click)="show(a.Difflowerlimit)">{{a.Difflowerlimit}}</span>
                      <td>{{a.Td1UpperLimit}}</td>
                      <td [style.background-color]="a.Diffupperlimit >= 9 ? 'yellow' : 'white' ">{{a.Diffupperlimit}}</td>
                   </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div id="chart2"  style="position: relative; height:800px;">
                <canvas id="Chart2"></canvas>
            </div>
        </div>
    </div>
</div>