<!-- 
<p-toast></p-toast>

<p-table [value]="plant" styleClass="p-datatable-gridlines" styleClass="myTable" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Organization Id</th>
          <th>Plant Id</th>
          <th>Plant Name</th>
          <th>Plant Location</th>
          <th>Show Plant</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-plant>
      <tr>
        <td>{{plant.OrganizationId}}</td>
          <td>{{plant.PlantId}}</td>
          <td>{{plant.PlantName}}</td>
          <td>{{plant.Location}}</td>
          <td><button class="btn btn-info" (click)="plantShow(plant.PlantId)">Show Plant</button></td>
      </tr>
  </ng-template>
</p-table> -->
<!-- <img src="dist/DPM/assets/dashboard.jpg" alt="" [style]="{width:'90%'}"> -->
<div>
  <button class="btn btn-primary float-right"   (click)="report()">Report</button>
  <a href="dist/DPM/assets/ISO14224.xlsx" style="height:36px; width: 50px;" class="btn btn-primary float-right mr-3 px-2 py-2">Help</a> <br> <br>
  <iframe title="Predictive_Dashboard" style="margin-left: 10px;" width="1100" height="580"  
  src="https://pbiurl.dpmaianalytics.com" (load)="getPowerBiKeys()"  
      frameborder="1" allowFullScreen="true"></iframe>
     </div>