<p-toast></p-toast>
<div class="card dpm-card w-100 p-3">
    <!-- <div class="col-5">
        <label for="myfile"> Upload Historical data :  </label>
        <input type="file" id="myfile">
    </div>
    <div class="col-1">
      
        Process
      </button>
    </div> -->
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Select Asset</label>
            <select [(ngModel)]="selectedAsset">
                <option *ngFor="let aList of Assetlist" [ngValue]="aList">{{aList}}</option>
            </select><br>
            <label style=" margin-right: 12px;">Tag Number</label>
            <input type="text" [(ngModel)]="selectedTagNumber">
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Failure Mode Name</label>
            <input type="text" [(ngModel)]="selectedFMName"><br>
            <label style=" margin-right: 12px;">Upload File</label>
            <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv">
            
        </div>
        <button class="btn btn-success btn-sm" style="margin-left: 12px;height: 40px;margin-top: 95px;"
            (click)="Upload()">Process</button>
        <div class="col-md-4 d-flex flex-column">
            <div class="row">
            <input type="checkbox" style="margin-left: 20px;width: 40px;height: 20px;margin-top: 25px;" [checked]="Manual" (change)="selectCheckBoxM()">
            <span style="margin-top: 25px;">Manual</span> 
            <input type="checkbox" style="width: 40px;height: 20px;margin-top: 25px;" [checked]="Automated"
                (change)="selectCheckBoxA($event)"> 
            <span style="margin-top: 25px;">Automated</span>
            </div>
        </div>
    </div>
    <br><br>
    <div *ngIf="uploadSuccess">
        <span>FailureMode Id : {{BatchId}}</span><br>
        <span>Description : {{Description}}</span><br>
        <span>Batch is uploading .....</span> <br>
        <a href="#/Home/CompressorStatus">Check Status</a>
    </div>
    <div *ngIf="Error">
        <b><span>Error : {{ErrorMsg}}</span></b>
    </div>
    <br>
    <!-- <div class="row">
        <div class="col-6">
            <div *ngIf="load">
                <span>{{progress}} </span> <i *ngIf="value==100" style="color: green;" class="pi pi-check-circle"></i>
                <p-progressBar [value]="value" [style]="{'width': '600px'}"></p-progressBar>
            </div><br>
            <div *ngIf="validate">
                <span>{{progress1}} : {{ validating}}</span> <i *ngIf="value1==100" style="color: green;"
                    class="pi pi-check-circle"></i>
                <p-progressBar [value]="value1" [style]="{'width': '600px'}"></p-progressBar>
            </div><br>
            <div *ngIf="calculate">
                <span>{{progress2}} </span> <i *ngIf="value2==100" style="color: green;" class="pi pi-check-circle"></i>
                <p-progressBar [value]="value2" [style]="{'width': '600px'}"></p-progressBar>
            </div><br>
            <div *ngIf="aggregate">
                <span>{{progress3}}</span> <i *ngIf="value3==100" style="color: green;" class="pi pi-check-circle"></i>
                <p-progressBar [value]="value3" [style]="{'width': '600px'}"></p-progressBar>
            </div><br>
            <div *ngIf="extrapolation">
                <span>{{progress4}} </span> <i *ngIf="value4==100" style="color: green;" class="pi pi-check-circle"></i>
                <p-progressBar [value]="value4" [style]="{'width': '600px'}"></p-progressBar>
            </div><br>
            <div *ngIf="predict">
                <span>{{progress5}} </span> <i *ngIf="value5==100" style="color: green;" class="pi pi-check-circle"></i>
                <p-progressBar [value]="value5" [style]="{'width': '600px'}"></p-progressBar>
            </div><br><br>
            <div *ngIf="dataExplanation">
                <span>Their is 2% of data which needs explanation </span> <br>
                <a href="#/Home/DataExplanation">Let's see Data Explanation</a>
            </div>
        </div>
        <div class="col-6">
            <img src="dist/DPM/assets/pipeline.png" style="width: 610px;height: 560px;" alt="">
        </div>
    </div> -->
</div>