
<div class="card dpm-card w-100 p-3">
    <!-- <div class="col-5">
        <label for="myfile"> Upload Historical data :  </label>
        <input type="file" id="myfile">
    </div>
    <div class="col-1">
      
        Process
      </button>
    </div> -->
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Select Asset</label>
            <select [(ngModel)]="selectedAsset">
                <option *ngFor="let aList of Assetlist" [ngValue]="aList">{{aList}}</option>
            </select><br>

            <label style=" margin-right: 12px;">Tag Number</label>
            <input type="text" *ngIf="selectedAsset == 'HeatExchanger'" list="HX" [(ngModel)]="selectedTagNumber">
            <datalist id="HX" *ngIf="selectedAsset == 'HeatExchanger'" [(ngModel)]="selectedTagNumber">
                <option>11HE001</option>
                <option>11HE002</option>
            </datalist>

            <select *ngIf="selectedAsset == 'ScrewCompressor'" [(ngModel)]="selectedTagNumber">
                <option>10K001</option>
                <option>10K002</option>
            </select>

            <input type="text" *ngIf="!(selectedAsset == 'ScrewCompressor'|| selectedAsset == 'HeatExchanger')"
                [(ngModel)]="selectedTagNumber">
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Failure Mode Name</label>
            <!-- <input type="text" *ngIf="selectedAsset == 'HeatExchanger'" list="HX" [(ngModel)]="selectedFMName"><br> -->
            <select *ngIf="selectedAsset == 'HeatExchanger'" [(ngModel)]="selectedFMName">
                <option>Internal Tube Leak</option>
                <option>Corrosion</option>
            </select>

            <select *ngIf="selectedAsset == 'ScrewCompressor'" [(ngModel)]="selectedFMName">
                <option>Screw seizure</option>
                <option>Bearing damage</option>
                <option>Mechanical Seal Leaking</option>
            </select>

            <input type="text" *ngIf="!(selectedAsset == 'ScrewCompressor'|| selectedAsset == 'HeatExchanger')"
                [(ngModel)]="selectedFMName"><br>

            <label style=" margin-right: 12px;">Upload File</label>
            <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv">

        </div>
    </div>
        <button class="btn btn-success btn-sm" style="margin-left: 600px;height: 40px;width:200px;margin-top: 40px;"
            (click)="Upload()">Process File</button>
        <br><br>

        <div *ngIf="Error">
            <b><span>Error : {{ErrorMsg}}</span></b>
        </div>

        <div class="row">
            <div class="column">
                <p-progressBar *ngIf="load" [value]="value"></p-progressBar>
                <span>{{progress}} </span> <i *ngIf="value==100" style="color: green;" class="pi pi-check-circle"></i>
                
            </div>
            <div class="column">
                <p-progressBar *ngIf="validate" [value]="value1"></p-progressBar>
                <span>{{progress1}} ... {{ validating}}</span> <i *ngIf="value1==100" class="pi pi-check-circle"
                    style="font-size:20px; margin-top:1px;color:green"></i>
            </div>
            <div class="column">
                <p-progressBar *ngIf="calculate" [value]="value2">{{value2}}%</p-progressBar>
                <span>{{progress2}} </span> <i *ngIf="value2==100" class="pi pi-check-circle"
                    style="font-size:20px; margin-top:1px;color:green"></i>
            </div>
            <div class="column">
                <p-progressBar *ngIf="processing" [value]="value3">{{value3}}%
                </p-progressBar>
                <span>{{progress3}}</span> <i *ngIf="value3==100" class="pi pi-check-circle"
                    style="font-size:20px; margin-top:1px;color:green"></i>
            </div>
            <div class="column">
                <p-progressBar *ngIf="predict" [value]="value4">{{value4}}%
                </p-progressBar>
                <span>{{progress4}} </span> <i *ngIf="value4==100" class="pi pi-check-circle"
                    style="font-size:20px; margin-top:1px;color:green"></i>
            </div>
        </div>
        <div *ngIf="uploadSuccess">
            <span>FailureMode Id : {{BatchId}}</span><br>
            <span>Description : {{Description}}</span><br>
            <span>File uploaded.</span> <br><br>
            <a *ngIf="asset=='HeatExchanger'" href="#/Home/UnityHXModel">Go to Heat Exchanger Model</a>
            <!-- <a href="#/Home/CompressorStatus">Check Status</a> -->
        </div>
</div>