<div class="card dpm-card w-100 p-3">
    <p-accordion>
        <p-accordionTab header="Equipment Data Table">
            <p-table class="container" [value]="EquipmentDataList" responsiveLayout="scroll">
                <ng-template pTemplate="colgroup">
                    <!-- <colgroup>
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                    <col style="width:5em;">
                </colgroup> -->
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Equipments</th>
                        <th>Failure rate PMH, Lamda, OREDA</th>
                        <th>MDT(mean down time) hours</th>
                        <th>Equipments Connected</th>
                        <th>Logic</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-equi let-rowIndex="rowIndex">
                    <tr>
                        <td>{{equi.equipmentName}}</td>
                        <td>{{equi.lambda}}</td>
                        <td>{{equi.mdt}}</td>
                        <td>{{equi.selectedEquipments}}</td>
                        <td>{{equi.logic}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</div>
<br>
<div class="card dpm-card w-100 p-3">
    <h3>Create Network Diagram</h3>
    <div class="col-md-3 d-flex flex-column">
        Calculated Unavailability:-<input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div>
        <button style="float: right;" (click)="SaveNetwork()" label="Save" type="button" class="btn btn-primary" pTooltip="Save Values"
            tooltipPosition="top"><i class="pi pi-save"> Save</i></button>
    </div>

    <div id="mynetwork" #siteConfigNetwork></div>

    <style type="text/css">
        #mynetwork {
            width: 1180px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>
    <p-dialog header="Add Node Data" [(visible)]="addData" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        <!-- <h2>Predictive Maintenance</h2> -->
        <button type="button" class="btn btn-primary" pTooltip="Enter Values" tooltipPosition="top"><i
                class="pi pi-pencil" (click)="EnterNodeData()">&nbsp; Enter Data</i></button>
        &nbsp;&nbsp; <button type="button" class="btn btn-primary" pTooltip="Calculate Values" tooltipPosition="top"><i
                class="pi pi-pencil" (click)="CalculateNodeData()">&nbsp; Calculate Data</i></button>

        <!-- <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="ForecastData=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
    </p-dialog>

    <p-dialog header="Enter Data" [(visible)]="Enterdata" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        Enter Equipment Name:- <input type="text" [(ngModel)]="EquipmentName" class="form-control" name="" id=""><br>
        Enter Lambda:- <input type="number" [(ngModel)]="Lambda" class="form-control" name="" id=""><br>
        Enter MDT:- <input type='number' [(ngModel)]="MDT" class="form-control"><br>
        <button style="float: right;" (click)="SaveNodeData()" label="Save" type="button" class="btn btn-primary"
            pTooltip="Save Values" tooltipPosition="top"><i class="pi pi-save"> Save</i></button>
        <!-- <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="ForecastData=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
    </p-dialog>

    <p-dialog header="Calculate Data" [(visible)]="CalculateData" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        <!-- <h2>Predictive Maintenance</h2> -->
        Enter Equipment Name:-
        <input type="text" class="form-control" [(ngModel)]="CalculatedEquipmentName" name="" id=""><br>
        Chose Equipments Connected:-
        <p-multiSelect [options]="EquipmentDataList" defaultLabel="Select a Equipment"
            [(ngModel)]="selectedEquipmentsName" optionLabel="equipmentName"></p-multiSelect>
        <!-- Choose Equipment Connected:- <input type="text" class="form-control" name="" id=""><br> -->
        Choose Logic:- <select class="form-select" (change)="CalculatedValues()" [(ngModel)]="Logic"
            class="form-control">
            <option value="">Choose..</option>
            <option value="AND">AND</option>
            <option value="OR">OR</option>
        </select><br>
        Calculated Lambda for "{{CalculatedEquipmentName}}":-
        <input type="number" [(ngModel)]="CalculatedLambda" [readonly]="true" class="form-control" name="" id=""><br>
        calculated MDT for "{{CalculatedEquipmentName}}":-
        <input type='number' [(ngModel)]="CalculatedMDT" [readonly]="true" class="form-control"><br>
        <button style="float: right;" (click)="SaveCalculatedNodeData()" label="Save" type="button"
            class="btn btn-primary" pTooltip="Save Calculated Values" tooltipPosition="top"><i class="pi pi-save">
                Save</i></button>
        <!-- <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="ForecastData=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
    </p-dialog>
</div>