 <!-- table to show all the assets data -->
<div class="card dpm-card w-100 p-3">
    <p-accordion>
        <p-accordionTab header="Equipment Data Table">
            <p-table class="container" [value]="EquipmentDataList" responsiveLayout="scroll">
                <ng-template pTemplate="colgroup">
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Equipments</th>
                        <th>Failure rate PMH, Lamda, OREDA</th>
                        <th>MDT(mean down time) hours</th>
                        <th>Equipments Connected</th>
                        <th>Logic</th>
                        <th>MTBF</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-equi let-rowIndex="rowIndex">
                    <tr>
                        <td>{{equi.equipmentName}}</td>
                        <td>{{equi.lambda}}</td>
                        <td>{{equi.mdt}}</td>
                        <td>{{equi.selectedEquipments}}</td>
                        <td>{{equi.logic}}</td>
                        <td>{{equi.mtbf}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</div>
<br>
 <!-- Inputs fields -->
<div class="card dpm-card w-100 p-3">
    <h4>Create Network Diagram</h4>
    <div class="row mb-4">
        <div class="col-md-3 pl-0">
            <label style="margin-left: 10px" class="d-block">
                Enter Plant Name:
                <select class="form-select" (change)="SetPlantLocation()" [(ngModel)]="plantClass.PlantName"
                    class="form-control">
                    <option value="">Choose..</option>
                    <option *ngFor="let PN of MasterPlantName" [ngValue]="PN">{{PN}}</option>
                </select>
            </label>
        </div>
        <div class="col-md-3">
            <label style="margin-left: 10px" class="d-block">
                Enter Plant Location:
                <input type="text" [(ngModel)]="plantClass.Location" [readOnly]="true" class="form-control" />
            </label>
        </div>
        <div class="col-md-3">
            <label style="margin-left: 10px" class="d-block">
                System Calculated UnAvailability:
                <input type="text" [(ngModel)]="plantClass.Unavailability" [readOnly]="true" class="form-control" />
            </label>
        </div>
        <div class="col-md-3">
            <label style="margin-left: 10px" class="d-block">
                System Availability:
                <input type="text" [(ngModel)]="plantClass.Availability" [readOnly]="true" class="form-control" />
            </label>
        </div>
    </div>

     <!-- Save Button -->
    <div>
        <button style="float: right;" (click)="SaveNetwork()" label="Save" type="button" class="btn btn-primary"
            pTooltip="Save Values" tooltipPosition="top"><i class="pi pi-save"> Save</i></button>
    </div>

    <!-- Vis.js Network Diagram -->
    <div id="mynetwork" #siteConfigNetwork></div>
    <style type="text/css">
        #mynetwork {
            width: 1180px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>

    <!-- Modal on Node Click -->
    <p-dialog header="Add Node Data" [(visible)]="addData" [modal]="true"
        [style]="{'max-height':'900px','width':'600px','overflow':'auto'}">
        <button type="button" class="btn btn-primary" pTooltip="Enter Values" tooltipPosition="top"><i
                class="pi pi-pencil" (click)="Enterdata=true">&nbsp; Enter Data</i></button>
        &nbsp;&nbsp; <button type="button" class="btn btn-primary" pTooltip="Calculate Values" tooltipPosition="top"><i
                class="pi pi-pencil" (click)="CalculateData=true">&nbsp; Calculate Data</i></button>
        &nbsp;&nbsp; <button type="button" class="btn btn-primary" pTooltip="Calculate Unavailability"
            tooltipPosition="top"><i class="pi pi-pencil" (click)="CalculateUnavailability=true">&nbsp; Calculate
                Unavailability</i></button>
    </p-dialog>

    <!-- Modal of Enter Data button -->
    <p-dialog header="Enter Data" [(visible)]="Enterdata" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        Select Tag Number:- <select class="form-select" (change)="TagNumberSelect()" [(ngModel)]="SelectedTag"
            class="form-control">
            <option value="">Choose..</option>
            <option *ngFor="let TN of TagNumbers" [ngValue]="TN">{{TN}}</option>
        </select><br>
        Enter Equipment Name:- <input type="text" [(ngModel)]="EquipmentName" class="form-control" name="" id=""><br>
        Enter Lambda:- <input type="number" [(ngModel)]="Lambda" class="form-control" name="" id=""><br>
        Enter MDT:- <input type='number' [(ngModel)]="MDT" class="form-control"><br>
        <button style="float: right;" (click)="SaveNodeData()" label="Save" type="button" class="btn btn-primary"
            pTooltip="Save Values" tooltipPosition="top"><i class="pi pi-save"> Save</i></button>
    </p-dialog>

    <!-- Modal of Calculate Data button -->
    <p-dialog header="Calculate Data" [(visible)]="CalculateData" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        Enter Equipment Name:-
        <input type="text" class="form-control" [(ngModel)]="CalculatedEquipmentName" name="" id=""><br>
        Chose Equipments Connected:-
        <p-multiSelect [options]="EquipmentDataList" defaultLabel="Select a Equipment"
            [(ngModel)]="selectedEquipmentsName" optionLabel="equipmentName"></p-multiSelect>
        Choose Logic:- <select class="form-select" (change)="CalculatedValues()" [(ngModel)]="Logic"
            class="form-control">
            <option value="">Choose..</option>
            <option value="AND">AND</option>
            <option value="OR">OR</option>
        </select><br>
        Calculated Lambda for "{{CalculatedEquipmentName}}":-
        <input type="number" [(ngModel)]="CalculatedLambda" [readonly]="true" class="form-control" name="" id=""><br>
        calculated MDT for "{{CalculatedEquipmentName}}":-
        <input type='number' [(ngModel)]="CalculatedMDT" [readonly]="true" class="form-control"><br>
        <button style="float: right;" (click)="SaveCalculatedNodeData()" label="Save" type="button"
            class="btn btn-primary" pTooltip="Save Calculated Values" tooltipPosition="top"><i class="pi pi-save">
                Save</i></button>
    </p-dialog>

    <!-- Modal of Calculate Unavailability button -->
    <p-dialog header="Calculate Unavailability" [(visible)]="CalculateUnavailability" [modal]="true"
        [style]="{'max-height':'900px','width':'400px','overflow':'auto'}">
        Enter Equipment Name:-
        <input type="text" class="form-control" [(ngModel)]="CalculatedEquipmentName" name="" id=""><br>
        Chose Equipments Connected:-
        <p-multiSelect [options]="EquipmentDataList" defaultLabel="Select a Equipment"
            [(ngModel)]="selectedEquipmentsName" optionLabel="equipmentName"></p-multiSelect>
        <!-- Choose Equipment Connected:- <input type="text" class="form-control" name="" id=""><br> -->
        Choose Logic:- <select class="form-select" (change)="CalculatedValues()" [(ngModel)]="Logic"
            class="form-control">
            <option value="">Choose..</option>
            <option value="AND">AND</option>
            <option value="OR">OR</option>
        </select><br>
        Calculated Lambda for "{{CalculatedEquipmentName}}":-
        <input type="number" [(ngModel)]="CalculatedLambda" [readonly]="true" class="form-control" name="" id=""><br>
        Calculated MTBF for "{{CalculatedEquipmentName}}":-
        <input type="number" [(ngModel)]="CalculatedMTBF" [readonly]="true" class="form-control" name="" id=""><br>
        calculated MDT for "{{CalculatedEquipmentName}}":-
        <input type='number' [(ngModel)]="CalculatedMDT" [readonly]="true" class="form-control"><br>
        <button style="float: right;" (click)="SaveCalculatedNodeData()" label="Save" type="button"
            class="btn btn-primary" pTooltip="Save Calculated Values" tooltipPosition="top"><i class="pi pi-save">
                Save</i></button>
        <!-- <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="ForecastData=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
    </p-dialog>
</div>