<p-toast position="top-right"></p-toast>

<style>
    .disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: grey !important;
    }
</style>

<div class="row">
    <div class="col-xl-12 col-lg-11">
        <div class="dpm-card prescriptive  mb-4 con">
            <div class="card-header">
                <h5 class="card-title mb-0 mt-2"><i class="fa fa-tasks"></i>&nbsp;RCM Recommendation</h5>
                <!-- <div class="col" *ngIf="Table2 || Table3">
                    <button type="button" style="float: right" class="btn btn-secondary btn-sm" (click)="BackToTable1()">Back</button>

                </div> -->
                <!-- <div class="col" *ngIf="Table4">
                    <button type="button" style="float: right" class="btn btn-secondary btn-sm" (click)="BackToTable3()">Back</button>

                </div> -->
                <!-- *ngIf="Table1" id="exportexcel" [loading]="loading" -->
            </div>
            <div class="card-body">
                <p-table
                  [scrollable]="true" [style]="{width:'100%'}" [value]="rcmRecords" [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]" >
                    <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                        <div class="prescriptive-card p-3">
                            <h1 class="font-weight-normal h6"><small>{{p.MachineType}}
                            </small><span class="d-block font-weight-normal h5 mt-2">{{p.EquipmentType}}
                                <span  class="badge badge-info ml-2"><small><i
                                        class="pi pi-tag mr-1"></i></small>RCM Id: {{p.RCMId}}</span>
                                <span class="badge-danger badge ml-2 mr-2"><small><i class="pi pi-chart-line"></i>
                                </small> Tag No: {{p.TagNumber}}</span>
                                <span class="badge badge-warning"><i
                                    class="pi pi-star-o small mr-1"></i>Equipment Type: {{p.EquipmentType}}</span>
                                <span class="badge badge-dark ml-2"><i class="pi pi-star-o small mr-1">

                                </i>Equipment CriticalityType: {{p.EquipmentCriticalityType}}</span></span>
                            </h1>
                            <!-- <span class="">
                                <a class="link-primary mr-1" *ngIf="p.Type === 'CA'? p.MSSAdded == 1 : p.FMWithConsequenceTree.length >0" title="p.Type === 'CA'?'Update RCM Tree':'Update FMEA Tree'}}" (click)="UpdatePrescriptiveRecords(p)" [ngClass]="{disabled: p.Type ==='CA'? p.FCAAdded != 1 : ''}"><small><i class="pi pi-pencil mr-2"></i></small>{{p.Type === 'CA'?'Update RCM':'Update FMEA'}}</a>
                            </span>
                            <span class="">
                                <a title="Add Consequence" (click)="ADDConsequenceRecords(p)" [ngClass]="{disabled:p.FMWithConsequenceTree.length > 0}" class="link-primary mr-1"><small><i class="pi pi-plus mr-2"></i></small>Add Consequence</a>
                            </span>

                            <span *ngIf="p.Type === 'CA'" class="">
                                <a  [ngClass]="{disabled:(p.FCAAdded == 1 ||  p.FMWithConsequenceTree.length == 0)}" (click)="getFCAData(p)" title="Add FCA" class="link-primary mr-1"><small><i class="pi pi-plus mr-2"></i></small>Add FCA</a>
                            </span>
                            <span class="">
                                <a *ngIf="p.FCAAdded == 1" [ngClass]="{disabled:(p.MSSAdded == 1 || p.FCAAdded != 1 )}" title="Add MSS to tree" (click)="getMSSData(p)" class="link-primary mr-1 btn-sm"><small><i class="pi pi-plus mr-2"></i></small>Add MSS</a>
                            </span>

                            <span class="">
                                <a title="Add Attachment" *ngIf="(p.CAttachmentDBPath == null)" (click)="getAttachmentID(p)" data-toggle="modal" data-target="#AttachmentModal" class="link-primary mr-1"> <i class="fa fa-paperclip mr-2" aria-hidden="true"></i>Upload</a>
                                <a title="View Attachment" *ngIf="(p.CAttachmentDBPath != null)" (click)="ViewAttachment(p)" data-toggle="modal" data-target="#CommentModal" class="link-primary mr-1"><i class="fa fa-eye mr-2" aria-hidden="true"></i>View Attachment</a>
                                <a title="Edit Attachment" *ngIf="(p.CAttachmentDBPath != null)" (click)="getAttachmentID(p)" data-toggle="modal" data-target="#AttachmentModal" class="link-primary mr-1"><i class="pi pi-pencil mr-2"></i>Edit Attachment</a>
                            </span>
                            <span class="">
                                <a style="color: black;" [ngClass]="{disabled:( p.MSSAdded == null || (p.FCAAdded != 1 && p.MSSAdded != ''))}" title="Check MSS" (click)="getMSSTable(p)" class="link-primary mr-1"><i class="fa fa-eye mr-2"></i>View MSS</a>
                            </span>
                            <span class="">
                                <a title="Report" [routerLink]="['/Home/Prescriptive/Report']" (click)="FMEAReports(p)" [ngClass]="{disabled:p.FMWithConsequenceTree ==''}" class="link-primary mr-1"><small><i class="pi-book pi mr-2" aria-hidden="true"></i></small>Report</a>
                            </span>
                            <span class="">
                                <a style="color: red;" title="Delete FMECA Tree" (click)="DeletePrescriptiveRecords(p)" data-toggle="modal" data-target="#DeleteTree"><small><i class="pi pi-trash"></i></small></a>
                            </span>
                             <td>
                                <a style="color: green;" [ngClass]="{disabled:p.MSSAdded == 1}" (click)="getMSSData(p)" title="Add MSS"><i class="pi pi-plus"></i></a>
                            </td> -->
                         </div>
                        <!-- <div >
                            <td style="text-align:center; margin-top: 20px;" colspan="10">No Records to show</td>
                        </div> -->
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>