<h3>SIL Classification</h3>
<div class="card dpm-card w-100 p-3">
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">SIF ID</label>
            <input type="text"  pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">InterLock (SIF) Tag</label>
            <input type="text" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Sensor</label>
            <input type="text" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Primary Final Elements(s)</label>
            <input type="text" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">SIF Description</label>
            <span class="p-float-label">
                <textarea inputId="textarea" rows="3" style="resize: none;" cols="40" pInputTextarea></textarea>
            </span> 
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Target SIL</label>
                <input type="text" pInputText />
        </div>
    </div>
    <br>
    <br>
    <div #spreadsheet>

    </div>
</div>
