<p-toast></p-toast>
<p-fieldset  legend="SIF Classification" [toggleable]="true" >
<div class="card dpm-card w-100 p-3">
    <div class="row">
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Hazop Node Reference</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.HazopNodeId" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">SIF ID</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Id" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">InterLock (SIF) Tag</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.InterLockTag" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Sensor</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Sensor" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Primary Final Elements(s)</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.FinalElement" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Risk Matrix</label>
            <select name="" id="" class="form-select"  class="form-control" [(ngModel)]="sifDesignObj.RiskMatrix">
                <option value="5*5 matrix">5*5 matrix</option>
                <option value="6*6 matrix">6*6 matrix</option>
            </select>
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">Target SIL</label>
                <input type="text"  class="form-control" [(ngModel)]="sifDesignObj.TargetSIL" pInputText />
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label style=" margin-right: 12px;">SIF Description</label>
            <span class="p-float-label">
                <textarea inputId="textarea" rows="3" style="resize: none;" cols="40"  class="form-control" [(ngModel)]="sifDesignObj.SIFDescription" pInputTextarea></textarea>
            </span> 
        </div>
    </div>
</div>
</p-fieldset> 
<br>
    <br>
    <div class="card dpm-card w-100 p-3">
        <div #spreadsheet>
        </div>
<br>
    <button type="submit" (click)="Save()">Save</button>
</div><br>

<p-dialog header="6 * 6 RiskMatrix" [(visible)]="RiskMatrix6"  [style]="{width: '50vw'}" >
    
        Header content here 6666
  
</p-dialog>
<p-dialog header="5 * 5 RiskMatrix" [(visible)]="RiskMatrix5"  [style]="{width: '50vw'}" >

        Header content here 555
    
</p-dialog>

<div class="card dpm-card w-100 p-3">
    <fieldset class="border p-2">
        <p-table styleClass="p-datatable-gridlines" [columns]="cols" [value]="SheetValue" [autoLayout]="true">
            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns">
                        {{col}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-SheetValue let-rowIndex="columns">
                <tr>
                    <td *ngFor="let col of SheetValue">
                        {{col}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </fieldset>
</div>
<div class="card dpm-card w-100 p-3">
    <fieldset class="border p-2">
        <legend  class="w-auto">Calculations</legend>
        <div class="row">
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">Intermediate Event Likelihood</label>
                <input type="text"  pInputText />
            </div>
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">TMEL</label>
                <input type="text" pInputText />
            </div>
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">Total Risk F(x)</label>
                <input type="text" pInputText />
            </div>
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">PFDavg</label>
                <input type="text" pInputText />
            </div><br>
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">SIL</label>
                <input type="text" pInputText />
            </div>
            <div class="col-md-3 d-flex flex-column">
                <label style=" margin-right: 12px;">RRF</label>
                    <input type="text" pInputText />
            </div>
        </div><br>
    </fieldset> 
</div>
