<p-toast></p-toast>
<p-fieldset legend=""  [toggleable]="true">
    <div class="row">
        <div class="col-md-6">
            <div class="stepsdemo-content dpm-card mt-2">
                <p-card>
                    <ng-template pTemplate="title" class="mb-0">
                        SIF Classification<strong><span class="text-primary ml-1"></span></strong>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="row">
                            <div class="col-md-3 d-flex flex-column">
                                <label style=" margin-right: 12px;">Hazop Node</label>
                                <input type="text" class="form-control" [(ngModel)]="sifDesignObj.HazopNodeId"
                                    pInputText />
                            </div>
                            <div class="col-md-3 d-flex flex-column">
                                <label style=" margin-right: 12px;">SIF ID</label>
                                <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Id" pInputText />
                            </div>

                            <!-- <div class="row"> -->
                            <div class="col-md-4 d-flex flex-column">
                                <label style=" margin-right: 12px;">InterLock (SIF) Tag</label>
                                <input type="text" class="form-control" [(ngModel)]="sifDesignObj.InterLockTag"
                                    pInputText />
                            </div>
                            <div class="col-md-3 d-flex flex-column">
                                <label style=" margin-right: 12px;">Sensor</label>
                                <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Sensor" pInputText />
                                <!-- </div> -->
                            </div><br>
                            <!-- <div class="row"> -->
                            <div class="col-md-3" d-flex flex-column>
                                <label style=" margin-right: 6px;">Risk Matrix</label>
                                <select name="" id="" class="form-select" class="form-control"
                                    [(ngModel)]="sifDesignObj.RiskMatrix">
                                    <option value="5*5 matrix">5*5 matrix</option>
                                    <option value="6*6 matrix">6*6 matrix</option>
                                </select>
                            </div>
                            <div class="col-md-4 d-flex flex-column">
                                <label style="margin-right: 12px;">Final Elements(s)</label>
                                <input type="text" class="form-control" [(ngModel)]="sifDesignObj.FinalElement"
                                    pInputText />
                            </div>
                            <!-- <div class="row"> -->
                            <div class="col-md-6" d-flex flex-column>
                                <label style=" margin-right: 12px;">SIF Description</label>
                                <span class="p-float-label">
                                    <textarea inputId="textarea" rows="3" style="resize: none;" cols="40"
                                        class="form-control" [(ngModel)]="sifDesignObj.SIFDescription"
                                        pInputTextarea></textarea>
                                </span>
                            </div>
                            <div class="col-md-4" d-flex flex-column>
                                <label style=" margin-right: 12px;">Target SIL</label>
                                <!-- <input type="text" class="form-control" [(ngModel)]="sifDesignObj.TargetSIL"
                                    pInputText /> -->
                                    <h4>{{ sifDesignObj.TargetSIL | number}}</h4>
                            </div>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
        <div class="col-md-6">
            <div class="stepsdemo-content dpm-card mt-2">
                <p-card>
                    <ng-template pTemplate="title" class="mb-0">
                        Calculations:<strong><span class="text-primary ml-1"></span></strong>
                    </ng-template>
                    <ng-template pTemplate="content">
                        
                            
                            <!-- </div> -->
                        <!-- </div><br> -->
                        <p-tabView> 
                            <p-tabPanel header="People">
                            <div class="row">
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Intermediate Event Likelihood</label>
                                    <h4>{{ initcauses.IELP | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.IEL" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">TMEL</label>
                                    <h4>{{ cal.TRFP }}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.RiskMatrix.TRF" pInputText /> -->
                                </div><br><br><br>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Overall IEL</label>
                                    <h4>{{ cal.OverallIELP | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.OverallIELP" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">PFDavg</label>
                                    <h4>{{ cal.PFDP | number:'1.1-2'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.PFDP" pInputText /> -->
                                </div><br>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">RRF</label>
                                    <h4>{{ cal.RRFP| number:'1.1-2' }}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.RRFP" pInputText /> -->
                                </div>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">SIL</label>
                                    <h4>{{cal.SILP | number}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.SILP" pInputText /> -->
                                </div>
                            </div>
                            </p-tabPanel>
                            <p-tabPanel header="Environment">
                                <div class="row">
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Intermediate Event Likelihood</label>
                                    <h4>{{ initcauses.IELE | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.IEL" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">TMEL</label>
                                    <h4>{{ cal.TRFE}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.RiskMatrix.TRF" pInputText /> -->
                                </div><br><br><br>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Overall IEL</label>
                                    <h4>{{ cal.OverallIELE | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.OverallIELP" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">PFDavg</label>
                                    <h4>{{ cal.PFDE | number:'1.1-2'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.PFDP" pInputText /> -->
                                </div><br>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">RRF</label>
                                    <h4>{{ cal.RRFE | number:'1.1-2'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.RRFP" pInputText /> -->
                                </div>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">SIL</label>
                                    <h4>{{cal.SILE | number}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.SILP" pInputText /> -->
                                </div>
                            </div>
                            </p-tabPanel>
                            <p-tabPanel header="Asset">
                                <div class="row">
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Intermediate Event Likelihood</label>
                                    <h4>{{ initcauses.IELA | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.IEL" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">TMEL</label>
                                    <h4>{{ cal.TRFA}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="initcauses.RiskMatrix.TRF" pInputText /> -->
                                </div><br><br><br>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">Overall IEL</label>
                                    <h4>{{ cal.OverallIELA | number:'1.1-5'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.OverallIELP" pInputText /> -->
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">PFDavg</label>
                                    <h4>{{ cal.PFDA | number:'1.1-2'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.PFDP" pInputText /> -->
                                </div><br>
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">RRF</label>
                                    <h4>{{ cal.RRFA | number:'1.1-2'}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.RRFP" pInputText /> -->
                                </div>
                                <!-- <div class="row"> -->
                                <div class="col-md-5 d-flex flex-column">
                                    <label style=" margin-right: 12px;">SIL</label>
                                    <h4>{{cal.SILA | number}}</h4>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="cal.SILP" pInputText /> -->
                                </div>
                            </div>
                            </p-tabPanel>
                        </p-tabView>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</p-fieldset>
<br>
<button style="float: right;" label="Save" type="button" class="btn btn-dark" 
    (click)="Save()" pTooltip="Save Values" tooltipPosition="top"><i class="pi pi-save">Save</i></button><br><br>
<div class="card dpm-card w-100 p-3">
    <div #spreadsheet>
    </div>
    <br>
</div><br>

<p-dialog header="6 * 6 RiskMatrix" [(visible)]="RiskMatrix6" [style]="{width: '100vw'}">

    <div>
        <app-Matrix6Component (updateSeverity)="RiskMatrix($event)"></app-Matrix6Component>
    </div>

</p-dialog>
<p-dialog header="5 * 5 RiskMatrix" [(visible)]="RiskMatrix5" [style]="{width: '100vw'}">

    <div>
        <app-Matrix5Component (updateSeverity)="RiskMatrix($event)"></app-Matrix5Component>
    </div>

</p-dialog>

<div class="card dpm-card w-100 p-3">
    <fieldset class="border p-2">
        <p-table styleClass="p-datatable-gridlines" [columns]="cols" [value]="SheetValue" [autoLayout]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-SheetValue let-rowIndex="columns">
                <tr>
                    <td *ngFor="let col of SheetValue">
                        {{col}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </fieldset>
    <p-toast position="top-right"></p-toast>
</div>