<p-toast></p-toast>
<!-- <p-fieldset legend=""  [toggleable]="true"> -->
    <div class="card dpm-card w-100 p-3">
    <div class="row">
        <div class="col-md-2 d-flex flex-column">
            <label style=" margin-right: 12px;">Node</label>
            <input type="text" class="form-control" [value]="node" [readonly]="true" [(ngModel)]="sifDesignObj.HazopNodeId" 
            (click)="Node()"    pInputText />
        </div>
        <div class="col-md-2 d-flex flex-column">
            <label style=" margin-right: 12px;">SIF ID</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Id" pInputText />
        </div>

        <!-- <div class="row"> -->
        <div class="col-md-2 d-flex flex-column">
            <label style=" margin-right: 12px;">InterLock (SIF) Tag</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.InterLockTag"
                pInputText />
        </div>
        <!-- <div class="row"> -->
            <div class="col-md-2" d-flex flex-column>
                <label style=" margin-right: 6px;">Risk Matrix</label>
                <select name="" id="" class="form-select" class="form-control"
                    [(ngModel)]="sifDesignObj.RiskMatrix">
                    <option value="5*5 matrix">5*5 matrix</option>
                    <option value="6*6 matrix">6*6 matrix</option>
                </select>
            </div>
        <div class="col-md-2 d-flex flex-column">
            <label style=" margin-right: 12px;">Sensor</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.Sensor" pInputText />
            <!-- </div> -->
        </div><br>
        <div class="col-md-2 d-flex flex-column">
            <label style="margin-right: 12px;">Final Elements(s)</label>
            <input type="text" class="form-control" [(ngModel)]="sifDesignObj.FinalElement"
                pInputText />
        </div>
        <!-- <div class="row"> -->
        <div class="col-md-3" d-flex flex-column>
            <label style=" margin-right: 12px;">SIF Description</label>
            <span class="p-float-label">
                <textarea inputId="textarea" [readonly]="true" [value]="description" style="height: 50px;" cols="40"
                    class="form-control" [(ngModel)]="sifDesignObj.SIFDescription"
                    pInputTextarea></textarea>
            </span>
        </div>
        <div class="col-md-1" d-flex flex-column>
            <label style=" margin-right: 12px;">Target SIL</label>
            <!-- <input type="text" class="form-control" [(ngModel)]="sifDesignObj.TargetSIL"
                pInputText /> -->
                <h4>{{ TargetSil | number}}</h4>
        </div>
    </div>
</div>
<!-- </p-fieldset> -->
<br>
<button style="float: right;" label="Save" type="button" class="btn btn-dark" 
    (click)="Save()" pTooltip="Save Values" tooltipPosition="top"><i class="pi pi-save">  Save</i></button>
<button style="float: right;margin-right: 10px;" label="Add" type="button" class="btn btn-dark" 
    (click)="Add()" pTooltip="Add New Record" tooltipPosition="top"><i class="pi pi-plus ">  Add</i></button>
    <button style="float: right;margin-right: 10px;" label="Add Column" type="button" class="btn btn-dark" 
    (click)="column()"  pTooltip="Add New Column" tooltipPosition="top"><i class="pi pi-plus ">Add Column</i></button><br><br>
<div class="card dpm-card w-100 p-3">
    <div #spreadsheet>
    </div>
    <br>
</div><br>

<p-dialog header="6 * 6 RiskMatrix" [(visible)]="RiskMatrix6" [style]="{width: '100vw'}">

    <div>
        <app-Matrix6Component (updateSeverity)="RiskMatrix($event)"></app-Matrix6Component>
    </div>

</p-dialog>
<p-dialog header="5 * 5 RiskMatrix" [(visible)]="RiskMatrix5" [style]="{width: '100vw'}">

    <div>
        <app-Matrix5Component (updateSeverity)="RiskMatrix($event)"></app-Matrix5Component>
    </div>

</p-dialog>
<p-dialog [(visible)]="display" [style]="{'max-height':'900px','width':'1300px','overflow':'auto'}">
    <ng-template pTemplate="header">
        <div class="row">
            <div class="col-md-3 d-flex flex-column">Company: <input type="text" [value]="company" [readonly]="true"  name="" id=""></div>
            <div class="col-md-3 d-flex flex-column">Facility: <input type="text" [value]="facility" [readonly]="true"  name="" id=""></div>
            <div class="col-md-3 d-flex flex-column"> Session: <input type="text" [value]="session" [readonly]="true"  name="" id=""></div>
            <div class="col-md-3 d-flex flex-column">Node: <input type="text" [value]="node" [readonly]="true"  name="" id=""></div>
            <div class="col-md-3 d-flex flex-column">Description: <textarea  type="text" [value]="description" [readonly]="true"  name="" id=""></textarea></div>
            <div class="col-md-3 d-flex flex-column"> Parameter: <input type="text" [value]="parameter" [readonly]="true"  name="" id=""></div>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <p-table  [value]="value" [style]="{'max-height':'400px','width':'1200px'}" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Deviation</th>
                    <th>Causes</th>
                    <th>Consequences</th>
                    <th>Safeguards</th>
                    <th>Recommendations</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-value>
                <tr>
                    <td>{{value.Deviation}}</td>
                    <td>{{value.Causes}}</td>
                    <td>{{value.Consequences}}</td>
                    <td>{{value.Safeguards}}</td>
                    <td>{{value.Recommendations}}</td>
                </tr>
            </ng-template>
        </p-table>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- <div class="card dpm-card w-100 p-3">
    <fieldset class="border p-2">
        <p-table styleClass="p-datatable-gridlines" [columns]="cols" [value]="SheetValue" [autoLayout]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-SheetValue let-rowIndex="columns">
                <tr>
                    <td *ngFor="let col of SheetValue">
                        {{col}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </fieldset>
    <p-toast position="top-right"></p-toast>
</div> -->